    <div class="container">
        <h1>Thông Tin Người Được tiêm</h1>
        <div>Quý khách có thể đăng ký cùng lúc cho tối đa 5 người tiêm, VNVC chỉ thực hiện tiêm chủng cho Khách hàng có thông tin đăng ký trùng khớp hoàn toàn với thông tin Quý Khách cung cấp tại đây.
        </div><br/>
        <div>
        <form method="post" action="/orderTicket/add" enctype="multipart/form-data">
            <h4>THÔNG TIN NGƯỜI TIÊM</h4>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="hidden" class="form-control" id="userId" name="userId" value = "{{user._id}}">
                        <label for="nameInject" >Họ tên người tiêm(*)</label>
                        <input type="input" class="form-control" id="nameInject" name="nameInject">
                        
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="birthInject">Ngày sinh người tiêm (*)</label>
                        <input type="date" class="form-control" id="birthInject" name="birthInject">
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="genderInject">Giới tính (*)</label>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-gender" value="M">
                                <label class="custom-control-label" for="customControlValidation2">Nam</label>
                            </div>
                            <div class="custom-control custom-radio mb-3">
                                <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-gender" value="F">
                                <label class="custom-control-label" for="customControlValidation3">Nữ</label>
                            </div>
                        </div>
                    </div>

                </div><br />
                <div class="row">
                    <div class="col-md-4">
                        <label for="inputCity">Tỉnh thành (*)</label>
                        <select class="form-control" for="inputCity"  id="citySelect" name="inputCity" onchange="choosedCity()">
                            <option>Chọn Tỉnh</option>
                            {{#each locations}}
                            <option value="{{this.code}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="inputDistrict">Quận huyện (*)</label>
                        <select class="form-control" for="inputDistrict" id="district" name="inputDistrict" onchange="choosedDistrict()">
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="inputWard">Phường xã (*)</label>
                        <select class="form-control" for="inputWard" id="ward" name="inputWard">
                        </select>
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-md-12">
                        <label for="street">Số nhà, tên đường (*)</label>
                        <input type="input" class="form-control" id="street" name="street">
                    </div>
                </div><br />
                <h4>THÔNG TIN LIÊN HỆ</h4>
                <div class="row">
                    <div class="col-md-8">
                        <label for="emailContact">Email Liên hệ (*)</label>
                        <input type="Email" class="form-control" id="emailContact" name="emailContact">
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="relationship">Mối quan hệ với người tiêm (*)</label>
                            <select class="form-control" id="relationship" name="relationship">
                                <option value="0">Bản thân</option>
                                <option value="1">Con</option>
                                <option value="2">Cha</option>
                                <option value="3">Mẹ</option>
                                <option value="4">Chồng</option>
                                <option value="5">Anh</option>
                                <option value="6">Chị</option>
                                <option value="7">Em</option>
                                <option value="8">Ông</option>
                                <option value="9">Bà</option>
                                <option value="10">Họ hàng</option>
                                <option value="11">Khác</option>
                            </select>
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <label for="phoneContact">Số điện thoại người liên hệ (*)</label>
                        <input type="input" class="form-control" id="phoneContact" name="phoneContact">
                    </div>
                </div><br />
                <h4>CHỌN VẮC XIN CHO NGƯỜI TIÊM</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputAddress">Loại vắc xin muốn đăng ký (*)</label>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="0" value="0" name="radio-stacked" onclick="handleClick(this);">
                                <label class="custom-control-label" for="customControlValidation2">Vắc xin gói</label>
                            </div>
                            <div class="custom-control custom-radio mb-3">
                                <input type="radio" class="custom-control-input" id="1" value="1" name="radio-stacked" onclick="handleClick(this);">
                                <label class="custom-control-label" for="customControlValidation3">Vắc xin lẻ</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="vaccineListGroup" style="display: none;">
                </div>
                <div id="vaccineListSingle" style="display: none;">
                </div> <br />
                <div class="row">
                    <h4>CHỌN ĐỊA ĐIỂM MONG MUỐN TIÊM</h4>
                    <div class="col-md-4">
                        <label for="inputCity">Tỉnh thành (*)</label>
                        <select class="form-control" for="inputCity"  id="citySelect" name="inputCity" onchange="choosedCity()">
                            <option>Chọn Tỉnh</option>
                            {{#each locations}}
                            <option value="{{this.name}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="branchWant">Trung tâm VNVC mong muốn tiêm (*)</label>
                        <select class="form-control" id="branchWant" name="branchWant">
                            <option>Chọn cơ sở</option>
                            {{#each branchs}}
                            <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-md-6">
                        <label for="dateInject">Ngày mong muốn tiêm (*)</label>
                        <input type="datetime-local" class="form-control" id="dateInject" name="dateInject">
                    </div>
                </div><br />
                <button type="submit" class="btn btn-success">Hoàn thành đăng ký</button>
            </form>
            
        </div>
    </div>
    <script>
        let cityCode = 1
        function choosedCity() {
            let idCity =  document.getElementById("citySelect").value;
            fetch('https://provinces.open-api.vn/api/d/')
                .then(response => response.json())
                .then(data => {
                    let districts = data.filter(item => item.province_code == idCity)
                    let districtsHTML = ""
                    for (let district of districts) {
                        districtsHTML += `<option value="${district.code}">${district.name}</option>`
                    }
                    document.getElementById("district").innerHTML = districtsHTML
                });
            
        }

        function choosedDistrict() {
            let idDistrict =  document.getElementById("district").value;
            fetch('https://provinces.open-api.vn/api/w/')
                .then(response => response.json())
                .then(data => {
                    let wards = data.filter(item => item.district_code == idDistrict)
                    let wardsHTML = ""
                    for (let ward of wards) {
                        wardsHTML += `<option value="${ward.code}">${ward.name}</option>`
                    }
                    document.getElementById("ward").innerHTML = wardsHTML
                });
        }

        function handleClick(event) {
            if(event.value === "0"){
                document.getElementById('vaccineListGroup').style.display = "block"
                document.getElementById('vaccineListSingle').style.display = "none"
                fetch('http://localhost:3000/category/listAndVaccineListIsGroup')
                .then(response => response.json())
                .then(data => {
                let groupHTML = ""
                for (let category of data) {
                        let title = `
                        <div class="row" ><b>${category.name}</b></div>
                        <div class="row"> `
                        let content = ""
                        for (let vaccine of category.vacciniesList){
                            content += `
                                <div class="col-md-4" style="border-style: ridge;">
                                    <input type="checkbox" value="${vaccine._id}" name="vaccineChoosed"/>
                                    <div>${vaccine.name} - ${vaccine.price} VND</div>
                                </div>
                            `
                        }
                        let footer = `</div>`
                        let HTML = title + content + footer
                        groupHTML += HTML
                }
                    document.getElementById("vaccineListGroup").innerHTML = groupHTML
                });
            }else{
                document.getElementById('vaccineListSingle').style.display = "block"
                document.getElementById('vaccineListGroup').style.display = "none"
                fetch('http://localhost:3000/vaccine/getByType/1')
                .then(response => response.json())
                .then(data => {
                let groupHTML = `<div class="row">`
                for (let vaccine of data) {
                        groupHTML += `
                                <div class="col-md-4" style="border-style: ridge;">
                                    <input type="checkbox" value="${vaccine._id}" name="vaccineChoosed"/>
                                    <div>${vaccine.name} - ${vaccine.price} VND</div>
                                </div>
                        `
                }
                groupHTML += `</div>`
                    document.getElementById("vaccineListSingle").innerHTML = groupHTML
                });
            
            }
        }

    </script>